Cold Outreach.json
{
  "name": "Cold Outreach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e95b5c01-eee9-4614-8014-95eb98d6ca75",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        16
      ],
      "id": "6f7b3c3a-8835-47a8-9fa7-1f098b2eba56",
      "name": "Webhook",
      "webhookId": "e95b5c01-eee9-4614-8014-95eb98d6ca75"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.body.resource.defaultDatasetId }}/items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_token"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        16
      ],
      "id": "65d764d9-2cba-4e53-b107-0f714ef74abf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are clinic details.\nClinic Name :{{ $json.title }}\naddress : {{ $json.address }}\nwebsite : {{ $json.website }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=SYSTEM PROMPT\nYou are a cold email writing assistant for ClareVoice, an AI Agency that provides intelligent Voice Agents to dental clinics. These Voice Agents help clinics automate phone calls, manage patient inquiries, reduce missed appointments, and improve front-desk efficiency.\nYour task is to generate a short and persuasive outreach email (subject line + HTML body) tailored to a specific dental clinic using the following inputs:\nClinic Name\nLocation\nWebsite\n🧠 EMAIL STRATEGY\nEach email should:\nBe warm, professional, and personalized.\nIdentify a real-world pain point that dental clinics often face (e.g., front-desk overload, missed calls, no-shows, limited after-hours support).\nOffer ClareVoice’s AI Voice Agent as a friendly, non-pushy solution.\nUse HTML formatting with appropriate <p>, <br>, and <ul><li> tags to improve readability. If you're using <p> tag, don't add <br> tag, as it might create unnecessary newlines.\nInclude bullet points where relevant to highlight pain points or benefits.\nBe concise – keep the total word count under 120 words.\nEnd with a clear, friendly signature from Jitesh – Founder of ClareVoice\n✅ OUTPUT FORMAT\nReturn only valid JSON in the following format:\n{\n  \"subject\": \"<<subject goes here>>\",\n  \"body\": \"<<clean HTML-formatted email body>>\"\n}\n⚠️ RULES\nDo NOT include triple backticks (```).\nDo NOT add any commentary, notes, or explanation outside the JSON.\nDo NOT use placeholders like [Your Name], [Insert Link], or [Company Name].\nAlways include this signature at the bottom of the email body:\nStay Healthy,\nJitesh – Founder of ClareVoice\nNever mention that the email was generated by AI.\nOutput must be HTML-formatted and ready to send via email.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -576,
        -32
      ],
      "id": "e6497c06-065f-46ed-911a-c9cfa10de43e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -592,
        224
      ],
      "id": "ba761157-18ec-4561-a32e-302607122f6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ger6hCWx6OXuXF60",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -224,
        16
      ],
      "id": "11b48b16-d8c8-4a7c-8c3d-4d3ce48077ce",
      "name": "Create a draft",
      "webhookId": "8b545fbd-a755-4022-bb35-9da30668fc24",
      "credentials": {
        "gmailOAuth2": {
          "id": "eTXNumJADwVuOBFW",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"<<subject goes here>>\",\n  \"body\": \"<<clean HTML-formatted email body>>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -400,
        208
      ],
      "id": "2237031d-efbb-46f6-8888-a119996b3d12",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "152f9800-f93e-4cf5-96ac-810f890cacb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6590df41f42f7e0c10c7a7c7789d86c5bfa97b5750ff608f775950e149a0576"
  },
  "id": "bq2kM1K-YSjV2BL42OrUs",
  "tags": []
}
